body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.container {
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
}

 
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

 
.dark-mode {
    background-color: #1e1e1e;
    color: #ffffff;
}